<p *ngIf="message" class="error-message">{{ message }}</p>

<ul class="arrendatario-list">
    <li *ngFor="let arrendatario of arrendatarios">
        <div class="arrendatario-info">
            <p><strong>ID:</strong> {{arrendatario.id_arrendatario}}</p>
            <p><strong>Nombre:</strong> {{arrendatario.nombres}} {{arrendatario.apellidos}}</p>
            <p><strong>Correo:</strong> {{arrendatario.correo}}</p>
            <p><strong>Teléfono:</strong> {{arrendatario.telefono}}</p>
        </div>
        <div class="button-container">
            <button class="action-btn update-btn" (click)="listUpdate(arrendatario.id_arrendatario || 0)">Actualizar</button> 
            <button class="action-btn delete-btn" (click)="listDelete(arrendatario.id_arrendatario || 0)">Eliminar</button>
        </div>
    </li>
  </ul>
  
