<div>
  <label for="arrendadorId">ID del Arrendador:</label>
  <input type="number" id="arrendadorId" [(ngModel)]="searchId" placeholder="Enter ID">
  <button (click)="searchId && loadArrendador(searchId)">Cargar Arrendador</button>
</div>

<ng-container *ngIf="!isUpdatedSuccessfully; else updateSuccessTemplate">
  <form *ngIf="currentArrendador" [formGroup]="arrendadorForm" (ngSubmit)="updateArrendador()">
    <div class="form-group">
      <label for="nombres">Nombres</label>
      <input type="text" class="form-control" id="nombres" formControlName="nombres">
    </div>
    
    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
    </div>
    
    <div class="form-group">
      <label for="correo">Correo</label>
      <input type="email" class="form-control" id="correo" formControlName="correo">
    </div>
    
    <div class="form-group">
      <label for="telefono">Telefono</label>
      <input type="tel" class="form-control" id="telefono" formControlName="telefono">
    </div>
    
    <div class="form-group">
      <label for="contrasena">Contraseña</label>
      <input type="password" class="form-control" id="contrasena" formControlName="contrasena">
    </div>
    
    <button type="submit" [disabled]="arrendadorForm.invalid">Actualizar</button>
  </form>
</ng-container>

<ng-template #updateSuccessTemplate>
  <p>Arrendador actualizado con éxito.</p>
</ng-template>
