<p *ngIf="message" class="error-message">{{ message }}</p>

<form [formGroup]="propiedadForm" (ngSubmit)="savePropiedad()" class="propiedad-form" *ngIf="!message">
  <h2>Registra los Datos</h2> 

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
      <div *ngIf="propiedadForm.get('nombre')?.invalid && propiedadForm.get('nombre')?.touched" class="text-danger">
        Nombre requerido
      </div>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea class="form-control" id="descripcion" formControlName="descripcion" required></textarea>
      <div *ngIf="propiedadForm.get('descripcion')?.invalid && propiedadForm.get('descripcion')?.touched" class="text-danger">
        Descripción requerida
      </div>
    </div>

    <div class="form-group">
      <label for="cantidadHabitaciones">Cantidad de Habitaciones</label>
      <input type="number" class="form-control" id="cantidadHabitaciones" formControlName="cantidadHabitaciones" required>
      <div *ngIf="propiedadForm.get('cantidadHabitaciones')?.invalid && propiedadForm.get('cantidadHabitaciones')?.touched" class="text-danger">
        Este campo es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="cantidadBanos">Cantidad de Baños</label>
      <input type="number" class="form-control" id="cantidadBanos" formControlName="cantidadBanos" required>
      <div *ngIf="propiedadForm.get('cantidadBanos')?.invalid && propiedadForm.get('cantidadBanos')?.touched" class="text-danger">
        Este campo es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="departamento">Departamento</label>
      <input type="text" class="form-control" id="departamento" formControlName="departamento" required>
      <div *ngIf="propiedadForm.get('departamento')?.invalid && propiedadForm.get('departamento')?.touched" class="text-danger">
        Departamento requerido
      </div>
    </div>

    <div class="form-group">
      <label for="municipio">Municipio</label>
      <input type="text" class="form-control" id="municipio" formControlName="municipio" required>
      <div *ngIf="propiedadForm.get('municipio')?.invalid && propiedadForm.get('municipio')?.touched" class="text-danger">
        Municipio requerido
      </div>
    </div>

    <div class="form-group">
      <label for="valorNoche">Valor por Noche</label>
      <input type="number" class="form-control" id="valorNoche" formControlName="valorNoche" required>
      <div *ngIf="propiedadForm.get('valorNoche')?.invalid && propiedadForm.get('valorNoche')?.touched" class="text-danger">
        Valor requerido
      </div>
    </div>

    <div class="form-group">
      <label for="permitidoMascotas">Permitido Mascotas</label>
      <input type="checkbox" class="form-control" id="permitidoMascotas" formControlName="permitidoMascotas">
    </div>

    <div class="form-group">
      <label for="piscina">Piscina</label>
      <input type="checkbox" class="form-control" id="piscina" formControlName="piscina">
    </div>

    <div class="form-group">
      <label for="tipoIngresoId">Tipo Ingreso ID</label>
      <input type="number" class="form-control" id="tipoIngresoId" formControlName="tipoIngresoId" required>
      <div *ngIf="propiedadForm.get('tipoIngresoId')?.invalid && propiedadForm.get('tipoIngresoId')?.touched" class="text-danger">
        Tipo de ingreso requerido
      </div>
    </div>

    <div class="form-group">
      <label for="arrendadorId">Arrendador ID</label>
      <input type="number" class="form-control" id="arrendadorId" formControlName="arrendadorId" required>
      <div *ngIf="propiedadForm.get('arrendadorId')?.invalid && propiedadForm.get('arrendadorId')?.touched" class="text-danger">
        ID de arrendador requerido
      </div>
    </div>

    <button type="submit" class="form-submit-button" [disabled]="propiedadForm.invalid">Guardar</button>
</form>
