<p>update-propiedad works!</p>
<h2>Actualizar Propiedad</h2>

<div>
  <label for="propiedadId">ID de la Propiedad:</label>
  <input type="number" id="propiedadId" [(ngModel)]="currentPropiedadId" placeholder="Ingrese ID de la propiedad">
  <button (click)="currentPropiedadId && loadPropiedad(currentPropiedadId)">Cargar Propiedad</button>
</div>

<ng-container *ngIf="isPropertyLoaded && !isUpdatedSuccessfully; else updateSuccessTemplate">
  <form [formGroup]="propiedadForm" (ngSubmit)="updatePropiedad()" *ngIf="currentPropiedadId">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea class="form-control" id="descripcion" formControlName="descripcion"></textarea>
    </div>
    <div class="form-group">
      <label for="cantidadHabitaciones">Cantidad de Habitaciones</label>
      <input type="number" class="form-control" id="cantidadHabitaciones" formControlName="cantidadHabitaciones">
    </div>
    <div class="form-group">
      <label for="cantidadBanos">Cantidad de Baños</label>
      <input type="number" class="form-control" id="cantidadBanos" formControlName="cantidadBanos">
    </div>
    <div class="form-group">
      <label for="departamento">Departamento</label>
      <input type="text" class="form-control" id="departamento" formControlName="departamento">
    </div>
    <div class="form-group">
      <label for="municipio">Municipio</label>
      <input type="text" class="form-control" id="municipio" formControlName="municipio">
    </div>
    <div class="form-group">
      <label for="valorNoche">Valor por Noche</label>
      <input type="number" class="form-control" id="valorNoche" formControlName="valorNoche">
    </div>
    <div class="form-group">
      <label for="permitidoMascotas">Permitido Mascotas</label>
      <input type="checkbox" class="form-control" id="permitidoMascotas" formControlName="permitidoMascotas">
    </div>
    <div class="form-group">
      <label for="piscina">Piscina</label>
      <input type="checkbox" class="form-control" id="piscina" formControlName="piscina">
    </div>
    <div class="form-group">
      <label for="tipoIngresoId">Tipo de Ingreso ID</label>
      <input type="number" class="form-control" id="tipoIngresoId" formControlName="tipoIngresoId">
    </div>
    <div class="form-group">
      <label for="arrendadorId">Arrendador ID</label>
      <input type="number" class="form-control" id="arrendadorId" formControlName="arrendadorId">
    </div>
    <button type="submit" [disabled]="propiedadForm.invalid">Actualizar</button>
  </form>
</ng-container>

<ng-template #updateSuccessTemplate>
  <p>Propiedad actualizada con éxito.</p>
</ng-template>
