<div class="search-container">
    <p class="search-title">Buscar Propiedad</p>
    <input type="text" [(ngModel)]="searchId" (input)="onIdChange($any($event).target.value)" placeholder="Ingrese ID de la propiedad" class="search-input">
    <button (click)="buscarPropiedad()">Buscar</button>
</div>

<div *ngIf="propiedad" class="propiedad-info">
    <p>ID: {{ propiedad.id_propiedad }}</p>
    <p>Nombre: {{ propiedad.nombre }}</p>
    <p>Descripción: {{ propiedad.descripcion }}</p>
    <p>Cantidad de Habitaciones: {{ propiedad.cantidad_habitaciones }}</p>
    <p>Cantidad de Baños: {{ propiedad.cantidad_banos }}</p>
    <p>Valor por Noche: {{ propiedad.valor_noche }}</p>
    <p>Departamento: {{ propiedad.departamento }}</p>
    <p>Municipio: {{ propiedad.municipio }}</p>
    <p>Permitido Mascotas: {{ propiedad.permitido_mascotas ? 'Sí' : 'No' }}</p>
    <p>Piscina: {{ propiedad.piscina ? 'Sí' : 'No' }}</p>
    <p>Activado: {{ propiedad.activado ? 'Sí' : 'No' }}</p>
    <!-- Agrega más campos según necesites mostrar -->
</div>

<div *ngIf="errorMessage" class="error-message">
    <p>Error: {{ errorMessage }}</p>
</div>
