<main class="solicitudes-container">
    <h1 class="solicitudes-title">Mis Solicitudes</h1>
    <p class="solicitudes-description">Revisa y gestiona tus solicitudes de arrendamiento.</p>
    
    <img src="assets/imagenes/finca2.png" alt="Imagen de una Finca" class="propiedades-image">

    <section class="acciones-solicitudes">
        <h2>Acciones Disponibles</h2>
        <div class="acciones-list">
            <button class="accion-btn" (click)="getSolicitud()">Consultar Solicitud</button>
            <button class="accion-btn" (click)="getAllSolicitudes()">Ver Todas las Solicitudes</button>
            <button class="accion-btn" (click)="createSolicitud()">Crear Solicitud</button>
            <button class="accion-btn" (click)="deleteSolicitud()">Eliminar Solicitud</button>
        </div>
    </section>
</main>
