<main class="main-container">
    <!-- Sección de Bienvenida -->
    <section class="welcome-section">
        <h1>Bienvenidos a ARRIENDA TU FINCA</h1>
        <p>La plataforma líder para el arrendamiento de fincas en Colombia.</p>
        <img src="assets/imagenes/imagen_de_bienvenda.jpg" alt="Imagen de Bienvenida" class="welcome-image">
    </section>

    <!-- Sección de Información sobre cómo funciona el sitio -->
    <section class="info-section">
        <h2>Cómo Funciona</h2>
        <p>Descubre cómo puedes fácilmente arrendar o poner en arrendamiento tu finca con nosotros.</p>
        <div class="info-cards">
            <div class="card">
                <img src="assets/imagenes/numero-1.png" alt="Paso 1">
                <h3>Paso 1: Regístrate</h3>
                <p>Crea tu cuenta y únete a nuestra comunidad.</p>
            </div>
            <div class="card">
                <img src="assets/imagenes/numero-2.png" alt="Paso 2">
                <h3>Paso 2: Publica tu Finca</h3>
                <p>Ingresa los detalles de tu finca y publica tu anuncio.</p>
            </div>
            <div class="card">
                <img src="assets/imagenes/numero-3.png" alt="Paso 3">
                <h3>Paso 3: Gestiona Reservas</h3>
                <p>Gestiona tus reservas y contacta con arrendatarios potenciales.</p>
            </div>
        </div>
    </section>

    <!-- Formulario de Contacto -->
    <section class="contact-section">
        <h2>Contacta con Nosotros</h2>
        <form class="contact-form">
            <input type="text" placeholder="Nombre" required>
            <input type="email" placeholder="Correo electrónico" required>
            <textarea placeholder="Tu mensaje" required></textarea>
            <button type="submit">Enviar Mensaje</button>
        </form>
    </section>

    <!-- Sección Creadores -->
    <section class="creators-section">
        <p>Creado por Kevin Jaimes, Alanis Forero, Luisa Vargas</p>
    </section>
</main>


