<h1>Listado de Solicitudes</h1>
<p *ngIf="message" class="error-message">{{ message }}</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha de Solicitud</th>
      <th>Hora de Solicitud</th>
      <th>Fecha de Llegada</th>
      <th>Fecha de Salida</th>
      <th>Valor</th>
      <th>Calificación</th>
      <th>Estado Solicitud</th>
      <th>Nombre Arrendatario</th>
      <th>Nombre Propiedad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solicitud of solicitudes">
      <td>{{ solicitud.id_solicitud}}</td>
      <td>{{ solicitud.fechaSolicitud | date:'medium' }}</td>
      <td>{{ solicitud.horaSolicitud | date:'shortTime' }}</td>
      <td>{{ solicitud.fechaLlegada | date:'medium' }}</td>
      <td>{{ solicitud.fechaSalida | date:'medium' }}</td>
      <td>{{ solicitud.valor | currency }}</td>
      <td>{{solicitud.calificacion}}</td>
      <td>{{ solicitud.estadoSolicitud?.estado }}</td>
      <td>{{ solicitud.arrendatario?.nombres }}</td>
      <td>{{ solicitud.propiedad?.nombre }}</td>
      <td>
        <button class="action-btn delete-btn" (click)="deleteSolicitud(solicitud.id_solicitud || 0)"><strong>Eliminar</strong></button>
        <button class="action-btn" (click)="toggleCalificar(solicitud.id_solicitud || 0)"><strong>Calificar</strong></button>
        <div *ngIf="showCalificar[solicitud.id_solicitud || 0]">
          <input type="number" [(ngModel)]="solicitud.calificacion" placeholder="Calificación 0-10" min="0" max="10">
          <button class="action-btn" (click)="calificarSolicitud(solicitud.id_solicitud || 0, solicitud.calificacion ?? 0)"><strong>Actualizar</strong></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
