<p>arrendatarios works!</p>
<button (click)="getArrendatario()">get arrendatario</button>
<button (click)="getAllArrendatarios()">get all arrendatarios</button>
<button (click)="createArrendatario()">create arrendatario</button>
<button (click)="updateArrendatario()">update arrendatario</button> 
<button (click)="deleteArrendatario()">delete arrendatario</button>
<p>------------------------------------------------</p>
<router-outlet></router-outlet>
<p>------------------------------------------------</p>
