<p>get-all-propiedad works!</p>
<p *ngIf="errorMessage">{{ errorMessage }}</p>
<div *ngIf="!errorMessage">
  <h2>Todas las Propiedades</h2>
  <ul>
    <li *ngFor="let propiedad of propiedades">
      <p>ID: {{ propiedad.id_propiedad }}</p>
      <p>Nombre: {{ propiedad.nombre }}</p>
      <p>Descripción: {{ propiedad.descripcion }}</p>
      <p>Cantidad de Habitaciones: {{ propiedad.cantidad_habitaciones }}</p>
      <p>Cantidad de Baños: {{ propiedad.cantidad_banos }}</p>
      <p>Valor por Noche: {{ propiedad.valor_noche }}</p>
      <p>Departamento: {{ propiedad.departamento }}</p>
      <p>Municipio: {{ propiedad.municipio }}</p>
      <p>Permitido Mascotas: {{ propiedad.permitido_mascotas ? 'Sí' : 'No' }}</p>
      <p>Piscina: {{ propiedad.piscina ? 'Sí' : 'No' }}</p>
      <p>Activado: {{ propiedad.activado ? 'Sí' : 'No' }}</p>
    </li>
  </ul>
</div>