<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

<div>
  <ul class="propiedad-list">
    <li *ngFor="let propiedad of propiedades" class="propiedad-item">
      <div class="propiedad-info">
        <p><strong>ID:</strong> {{ propiedad.id_propiedad }}</p>
        <p><strong>Nombre:</strong> {{ propiedad.nombre }}</p>
        <p><strong>Descripción:</strong> {{ propiedad.descripcion }}</p>
        <p><strong>Cantidad de Habitaciones:</strong> {{ propiedad.cantidadHabitaciones }}</p>
        <p><strong>Cantidad de Baños:</strong> {{ propiedad.cantidadBanos }}</p>
        <p><strong>Valor por Noche:</strong> {{ propiedad.valorNoche }}</p>
        <p><strong>Departamento:</strong> {{ propiedad.departamento }}</p>
        <p><strong>Municipio:</strong> {{ propiedad.municipio }}</p>
        <p><strong>Permitido Mascotas:</strong> {{ propiedad.permitido_mascotas ? 'Sí' : 'No' }}</p>
        <p><strong>Piscina:</strong> {{ propiedad.piscina ? 'Sí' : 'No' }}</p>
        <p><strong>Activado:</strong> {{ propiedad.activado ? 'Sí' : 'No' }}</p>
        <p><strong>Tipo de Ingreso ID:</strong> {{ propiedad.tipoIngreso?.id_tipoIngreso }}</p>
        <p><strong>Arrendador ID:</strong> {{ propiedad.arrendador?.id_arrendador }}</p>
      </div>
      <div class="button-container">
        <button class="action-btn update-btn" (click)="updatePropiedad(propiedad.id_propiedad || 0)"><strong>Actualizar</strong></button> 
        <button class="action-btn delete-btn" (click)="deletePropiedad(propiedad.id_propiedad || 0)"><strong>Eliminar</strong></button>
        <button class="action-btn view-btn" (click)="getAllSolicitudes(propiedad.id_propiedad || 0)"><strong>Ver solicitudes</strong></button>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="solicitudes.length > 0">
  <h3>Solicitudes</h3>
  <table class="solicitud-table">
    <thead>
      <tr>
        <th>ID Solicitud</th>
        <th>Fecha</th>
        <th>Fecha Llegada</th>
        <th>Propiedad</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudes" class="solicitud-item">
        <td>{{ solicitud.id_solicitud }}</td>
        <td>{{ solicitud.fechaSolicitud }}</td>
        <td>{{ solicitud.fechaLlegada }}</td>
        <td>{{ solicitud.propiedad }}</td>
        <td>{{ solicitud.valor }}</td>
      </tr>
    </tbody>
  </table>
</div>

