<div class="search-container">
  <p class="search-title">Buscar Arrendador</p>
  <input type="text" [(ngModel)]="searchId" (input)="onIdChange($any($event).target.value)" placeholder="Ingrese ID del arrendador" class="search-input">
  <button (click)="buscarArrendador()" class="search-button">Buscar</button>
</div>

<div *ngIf="arrendador" class="arrendador-info">
  <p><strong>ID:</strong> {{ arrendador.id_arrendador }}</p>
  <p><strong>Nombres:</strong> {{ arrendador.nombres }}</p>
  <p><strong>Apellidos:</strong> {{ arrendador.apellidos }}</p>
  <p><strong>Correo:</strong> {{ arrendador.correo }}</p>
</div>

<div *ngIf="errorMessage" class="error-message">
  <p>Error: {{ errorMessage }}</p>
</div>
